{{!-- page where information is displayed about the app --}}
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MealMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/bigLemon.png" alt="face logo"/></a>
    <div class="navlink"><a href="/login">Login</a></div>
    <div class="navlink"><a href="/signup">Sign up</a></div>
    <div class="navlink"><a href="/about">About</a></div>
  </nav>
  <section id="aboutInfo">
      <h1>All About MealMaker</h1>
      <p>
          Meal Maker is a simple yet effective web-based meal tracker app. 
          Here you can make an account to store all the data about your daily diet. 
          You can enter various information such as calories and protein into the app and create individual meals. 
          The app provides the daily recommended values you should be consuming. 
          You can then compare what you have eaten with these values and discover what you need to cut out and what you need to add to your diet.
          You can then start fresh each day by removing the meals with the press of a button and starting fresh.
      </p>
      <p id="sources"> The recomended daily nutrition values are obtained from <a href="https://health.gov/dietaryguidelines/2015/guidelines/appendix-7/">Health.gov</a>  and <a href="https://www.medicalnewstoday.com/articles/315900.php#recommended-levels">Medical News Today</a></p>
  </section>
  <section class="ad"><img src="/assets/img/ad.png" alt="add 3"/></section>
  <div id="ronMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="ron" src="assets/img/ron.png" alt="ron"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>