{{!-- page where meals are made, displayed and removed --}}
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MealMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/bigLemon.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="makeMeal">
  </section>

  <section id="removeMeal">
  </section>
  
  <section id='ads'>
    <img class="ad" src="/assets/img/ad.png" alt="add 1"/><img class="ad" src="/assets/img/ad.png" alt="add 2"/>
  </section>
  
  <section id="recomended">Recomended daily values:</section>
  <div id="listWrap">
    <h3 id="mas">Males (14-50+):</h3>
    <ul id="maleList">
      <li id='mC'>Calories: 3200-2000</li>
      <li id='mP'>Protien: 52-56 g</li>
      <li id='mCa'>Carbs: 130 g</li>
      <li id='mF'>Fat: (25-35) - (20-35) % kcal</li>
      <li id='mS'>Sodium: 2300</li>
      <li id='mCh'>Cholesterol: < 200 mg/dl</li>
    </ul>
    <ul id="femaleList">
      <li id='fC'>Calories: 1800-1600 </li>
      <li id='fP'>Protien: 46-56 g</li>
      <li id='fCa'>Carbs: 130 g</li>
      <li id='fF'>Fat: (25-35) - (20-35) % kcal</li>
      <li id='fS'>Sodium: 2300</li>
      <li id='fCh'>Cholesterol: < 200 mg/dl</li>
    </ul>
    <h3 id="fem">Females (14-50+):</h3> 
  </div>
  
  <section id="mealsBox">
  </section>
  
  <div id="ronMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="ron" src="assets/img/bigRon.png" alt="ron"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>