<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MealMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/bigLemon.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/maker">Meals</a></div>
    <div class="navlink"><a href="/about">About</a></div>
  </nav>
  <section id="changePass">
    <form id="changePassForm" name="changePassForm" action="/changePass" method="POST" class="mainForm">
      <label for="username">Username: </label>
      <input id="user" type="text" name="username" placeholder="username"/>
      <label for="oldPass">Old-Password: </label>
      <input id="oldPass" type="password" name="oldPass" placeholder="old password"/>
      <label for="newPass">New-Password: </label>
      <input id="newPass" type="password" name="newPass" placeholder="new password"/>
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input id="changePassSubmit" class="formSubmit" type="submit" value="Change Password" />
    </form>
  </section>
  <div id="ronMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="ron" src="assets/img/bigRon.png" alt="ron"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>