{{!-- page to handle 404 errors gracefully --}}
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MealMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/bigLemon.png" alt="face logo"/></a>
    <div class="navlink"><a href="/login">Login</a></div>
    <div class="navlink"><a href="/signup">Sign up</a></div>
    <div class="navlink"><a href="/about">About</a></div>
  </nav>
  <section id="whoopsInfo">
      <h1>Whoops!</h1>
      <p>
          The page you were looking for does not exist.
          Feel free to navigate using the nav-bar above to access the content that is available.
          Sorry for the inconvenience. 
      </p>
  </section>
  <section id='whoops'><img src="/assets/img/whoops.png" alt="whoopsImg"/></section>
  <div id="ronMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="ron" src="assets/img/ron.png" alt="ron"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>