html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #776D5A;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #4FB477;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: 776D5A;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color:#CCDAD1;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #4FB477;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #776D5A;
}

.mealForm {
    border: 2px solid #CCDAD1;
    height: 35px;
    width: 1550px;
    margin-top:0px;
    padding-top:10px;
    background-color: #4FB477;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.mealForm label {
    display: inline-block;
    width: 70px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: #CCDAD1;
}

.mealForm input[type=text] {
    float:left;
    width: 115px;
}


.removeMealForm {
    border: 2px solid #CCDAD1;
    height: 35px;
    width: 450px;
    margin-top:0px;
    padding-top:10px;
    background-color: #4FB477;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.removeMealForm label {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: #CCDAD1;
}


.removeMealForm input[type=text] {
    float:left;
    width: 115px;
}

.makeMealSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #4FB477;
    border-radius: 40px;
    color: #CCDAD1;
    text-decoration: none;
    margin-left: 5px;
}

.removeMealSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 110px;
    background-color: #4FB477;
    border-radius: 40px;
    color: #CCDAD1;
    text-decoration: none;
    margin-left: 5px;
}

.makeMealSubmit:link, .makeMealSubmit:visited, .makeMealSubmit:hover, .makeMealSubmit:active, .removeMealSubmit:link,  .removeMealSubmit:visited,  .removeMealSubmit:hover,  .removeMealSubmit:active {
    background-color: #CCDAD1;
    color: #4FB477; 
}

.makeMealSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #CCDAD1;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #4FB477;
    border-radius: 40px;
    border-color: #66acee;
    padding: 3px 0px;
    color: #CCDAD1;
    text-decoration: none;
    margin-left: 5px;
}

#changePassSubmit{
    width: 250px;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: #CCDAD1;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    color:#4FB477; 
    background-color: #CCDAD1;
}

#user, #pass, #pass2, #oldPass, #newPass {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #4FB477;
}

#ronMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#ronMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#ron {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#meals {
    width: 40%;
    min-width: 400px;
    border: 2px solid #4FB477;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 200px;
}

.meal {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #4FB477;
    border-radius: 4px;
    background-color: #4FB477;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.meal:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #776D5A;
}

img.mealImg {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

#whoops{
    text-align: center;
    margin-left: 5px;
}

h3.emptyMeal {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.mealName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.mealProtien {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

#aboutInfo{
    text-align: center;
}

#aboutInfo h1{
    font-size: 3em;
}

#aboutInfo p{
    text-align: left;
    font-size: 2em;
    width: 80%;
    margin:auto;
    margin-bottom: 2em;
}

#whoopsInfo{
    text-align: center;
}

#whoopsInfo h1{
    font-size: 3em;
}

#whoopsInfo p{
    text-align: left;
    font-size: 2em;
    width: 80%;
    margin:auto;
    margin-bottom: 2em;
}

.ad{
    margin-left: 20px;
}
.meal:first-child {
    margin-top: 10px;
}

.meal:last-child {
    margin-bottom:10px;
}

#listWrap{
    width:95%;
    /* text-align: center; */
}
#listWrap h3{
    float: left;
}

#femaleList{
    float: left;
}

#maleList{
    float:left;
}

a:link{
    color: #4FB477;  
}

a:visited{
    color: #4FB477;
}

a:hover {
    color: white;
}
  
a:active {
    color: black;
}